<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/custom.css') }}">

        <title>Initiative Tracker</title>
    </head>

    <body>
        <nav class="navbar navbar-dark bg-dark">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">Initiative Tracker</a>
            </div>
          </div>
        </nav>

        <!--Combatant Table-->
        <div class="container table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th class="combatantId">#</th>
                    <th class="combatantName">Combatant Name</th>
                    <th class="combatantMod">Modifier</th>
                    <th class="combatantRoll">Initiative Roll</th>
                    <th class="combatantEdit">Edit</th>
                    <th class="combatantRemove">Remove</th>
                </tr>
                </thead>

                <tbody>
                    {% for combatant in combatants %}
                        <tr>
                            <td>{{combatants.index(combatant)}}</td>
                            <td>{{combatant.name}}</td>
                            <td>{{combatant.sign}}{{combatant.mod}}</td>
                            <td>{{combatant.roll}}</td>
                            <td><button type="button" class="btn btn-outline-info btn-sm" data-bs-toggle="modal"
							    data-bs-target="#combatant-modal" data-source="{{combatants.index(combatant)}}" data-content="{{combatant.name}}">
                                <i class="fa fa-pen fa-1" aria-hidden="true"></i></button></td>
                            <td><button class="btn btn-outline-secondary btn-sm remove" data-source="{{combatants.index(combatant)}}"
                                type="button"><i class="fa fa-trash fa-1" aria-hidden="true"></i></button></td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <form action="#" method="POST">
                    <div>
                    <label for="name">Name of Combatant:</label>
                    <input type="text" id="name" name="name" required>
                    <label for="modifier">Dex Modifier (Used for Tiebreakers):</label>
                    <input type="number" id="modifier" name="modifier" required>
                    <label for="roll">Result of the Roll:</label>
                    <input type="number" id="roll" name="roll" required>
                    <br>
                    <label for="descend">Descending order?: </label>
                    <input type="checkbox" id="descend" name="descend" value= "True" {{'checked' if descend else ''}}>
                    <label for="tiebreaker">Use tiebreaker rule?: </label>
                    <input type="checkbox" id="tiebreaker" name="tiebreaker" value="True" {{'checked' if tiebreaker else ''}}>
                    </div>
                    <input type="submit" class="btn btn-success" value="Submit Combatant">
                    <button type="reset" class="btn btn-warning" value="Reset">Clear Inputs</button>
                    <input type="submit" name="action" class="btn btn-danger" value="Clear Combatants">
                </form>
                {{ errors }}
            </div>

        </div>

    </body>
</html>